<h4>Post details!</h4>
	<br />
	<p>
		<%= @post.content %>
	</p>
	<br />
	<br />
	<%= @post.name %> - Added: <%= @post.created_at %>
	<br />	<br />
<h5>Post comments!</h5>


<% @comment.each do |c| %>
 	<p> - <%= c.content %>	</p>
<% end %>



	<hr />

<p>
	<form action="/details/<%= @post.id %>" method="POST">	
    <label>Введите комментарий:</label>
	 	<textarea name="comment[content]" style="width: 400px" class="form-control" rows="6" placeholder="Type comment text here"></textarea>
	 	

	 	<br />
	 	<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</p>